<div id="wordBoxes">
<input type="text" placeholder="enter a friends name" ng-model="user.friend">
<input type="number" placeholder="enter a number" ng-model="user.number">
<input type="text" placeholder="enter a form of transportation" ng-model="user.vehi">
<input type="text" placeholder="enter an adjective" ng-model="user.adj1">
<input type="text" placeholder="enter another adjective" ng-model="user.adj2">
<input type="text" placeholder="enter an -ing verb" ng-model="user.verb1">
<input type="text" placeholder="enter an animal" ng-model="user.animal">
</div>

<div id="buttonDiv">
<button type="button" ng-click="importIn(user)">Create Your MadLib!</button>
</div>
